{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <h1> Accueil </h1>
        <h3>Filtrer les chats</h3>
            {{ form_start(form) }}
                {{ form_row(form.breeds) }}
                {{ form_row(form.ageMin) }}
                {{ form_row(form.ageMax) }}
                {{ form_row(form.coats) }}
                {{ form_row(form.city) }}
                <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(form) }}
            <h2> Profils des chats </h2>
                {% for cat in cats %}
                    Nom : {{ cat.name }} <br>
                    Age: {{ cat.ageFormatted }} <br>
                    Ville: {{ cat.city }} <br>
                    <a href="{{ path('show_cat', {'id' : cat.id} )}}"> Détails </a> <br>
                {% else %}
                     <p> Aucun chats trouvés</p>
                {% endfor %}
</div>
{% endblock %}
