{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}
        <meta name="description" content="{{description}}">
    {% endif %}
    <title>Accueil</title>
</head>
<body>
    <div id="wrapper-accueil">

        <div class="header-accueil">
            <h1> Bienvenue sur Pawtners !</h1>
            <h2> Le premier site de rencontre pour chats en France !</h2>
            <h3>Découvrez de nombreux profils et créez les vôtres pour offrir à vos chats la compagnie idéale ! </h3>

            <div class="header-accueil-btn">
                <a class ="cat-accueil" href="{{ path('app_cat') }}"> Découvrir les chats</a>
            </div>
            
            <div class="img-header">
                <img src="{{ asset('images/family-cat.png') }}" alt="Famille de chats">
            </div>
            
        </div>
        
        <div class="accueil-main">

            <div class="instruct-site">
                <div class="title-instruct">
                    <h2> Comment ça marche ?</h2>
                </div>
                
                <div class="cards-instruct">
                    <div class="card-instruct">
                        <h3> Création d'un profil </h3>
                        <div class="card-instruct-main">
                            <div class="img-card-instruct">
                                <img src="{{ asset('images/freelancer.png') }}" alt="Personnage consultant son ordinateur">
                            </div>
                            
                            <div class="consult-cat">
                                <p> Connectez-vous ou inscrivez-vous. Créez un ou plusieurs profils pour chaque chat que vous souhaitez mettre en ligne et consultez ceux des petits félins déjà présents sur le site. </p>
                            </div>
                        </div>
                        
                    </div>
                    
                        
                
            
                    <div class="card-instruct">
                        <h3> Place aux matchs !</h3>
                        <div class="card-instruct-main">
                            <div class="consult-cat">
                                <p>  <a href=""></a> 
                                    Un profil vous plaît ?
                                    Cliquez sur le bouton en forme de cœur et choisissez le nom de votre chat dans la liste déroulante.
                                    Si l'utilisateur aime votre chat en retour, c'est un match !
                                </p>
                            </div>
                            
                            <div class="img-card-instruct">
                                <img src="{{ asset('images/two-cats.png') }}" alt="Deux chats">
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
    
            <h2>Pourquoi rejoindre pawtners ?</h2>
            <div class="cards-accueil">
                <div class="card-accueil">
                    <div class="card-accueil-header">
                        <i class="fa-solid fa-paw"></i>
                    </div>
                    <p> Des profils entièrement personnalisés à l'image de vos chats</p>
                </div>

                <div class="card-accueil">
                    <div class="card-accueil-header">
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <p> Une experience sécurisée pour des rencontres sans tracas </p>
                </div>

                <div class="card-accueil">
                    <div class="card-accueil-header">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <p> Une communauté bienveillante </p>
                </div>
            </div>

            {% if app.user is null %}
                <div class="login-accueil">
                    <h2> Envie de commencer l'aventure ?</h2>
                    <p> Commencez dès maintenant en créant un compte ou en vous connectant !</p>
            
                    <div class="accueil-buttons">
                        <a href="{{ path('app_login') }}"> Se connecter</a>
                        <a href="{{ path('app_register') }}"> S'inscrire</a>
                    </div>
                </div>
            {% endif %}
            

        </div>
        
    </div>
    
</body>
</html>




{% endblock %}
