{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div id="wrapper-home">
        <h1> Accueil </h1>
        <div class="filter-cat">
            <h3>Filtrer les chats</h3>
                {{ form_start(form) }}
                    {{ form_row(form.breeds) }}
                    {{ form_row(form.ageMin) }}
                    {{ form_row(form.ageMax) }}
                    {{ form_row(form.coats) }}
                    {{ form_row(form.city) }}
                    <button type="submit">Filtrer</button>
                {{ form_end(form) }}
                <button>
                    <a href="{{ path('app_home')}}"> Réinitialiser </a>
                </button>
        </div>
                <br>
                <h2> Profils des chats </h2>
                <div class="cats-cards">
                    {% for cat in cats %}
                        <div class="cat-card">
                            {# First = filtre qui permet de récupèrer le premier élément d'un tableau #}
                            {% set firstImage = cat.images|first %}
                            <img src="{{ asset(firstImage) }}" alt="{{ firstImage.imageAlt }}">
                                 <div class="cat-card-text">
                                    <p> Nom : {{ cat.name }} </p>
                                    <p> Ville: {{ cat.city }} </p>
                                </div>
                                <div class="btn-detail">
                                    <a href="{{ path('show_cat', {'id' : cat.id} )}}"> Détails + </a>
                                </div>
                        </div>
               
                    {% else %}
                        <p> Aucun chats trouvés</p>
                    {% endfor %}
                </div>
                
        </div>
{% endblock %}
