{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div id="wrapper-register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="section-presentation">
            <h1>Bienvenue sur Pawtners !</h1>

            <p> Le site idéal pour tous les propriétaires à la recherche d'un partenaire pour leurs félins !</p>

        
            <p class="underline-text">Inscrivez vous pour commencer l'aventure <i class="fa-solid fa-arrow-right"></i></p>

            <p> Vous avez déjà un compte ?</p>
            
            <div class="btn-presentation">
                <a href="{{ path('app_login')}}"> Me connecter </a>
            </div>

            <img src="\css\images\cat-8239223_1280-removebg-preview.png" alt="Coeur patte de chat">

        </div>
     
        <div class="section-register">

                <h2> S'inscrire </h2>
          
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.pseudo) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.image) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    
                    <div class="btn-register">
                        <button type="submit" class="btn">S'inscrire</button>
                    </div>
                {{ form_end(registrationForm) }}
  
        </div>  
    </div>
{% endblock %}
