{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
<div class="form-image">
    <h1>Ajouter des images !</h1>
    {{ form_start(form) }}
    {% for message in app.flashes('error') %}
    <div class="flash-error">{{ message }}</div>
{% endfor %}

    {{ form_row(form.picture) }}
    {% if form.picture.vars.errors is not empty %}
        <div class="error">{{ form_errors(form.picture) }}</div>
    {% endif %}

    {{ form_row(form.cat) }}
    {% if form.cat.vars.errors is not empty %}
        <div class="error">{{ form_errors(form.cat) }}</div>
    {% endif %}

    {{ form_row(form.Valider) }}

    {{ form_end(form) }}
</div>
{% endblock %}

