{% extends 'base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block body %}

    <h1> {{category}} </h1>

    Topics : <br>
    {% for topics in topics %} <br>

    {# Bouton de suppression #}
    <a href="{{ path('show_topic', {id: topics.id}) }}">{{ topics }} par {{ topics.user}} le {{ topics.dateTopic }} à {{ topics.hourTopic }}</a>
        <form method="post" action="{{ path('delete_topic', {id: topics.id}) }}";
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Supprimer</button>
        </form>   <br>

    {# Bouton de Verrouillage/Déverouillage #}
    <form method="post" action="{{ path(topics.locked ? 'unlock_topic' : 'lock_topic', {id: topics.id}) }}">  {# On vérifie le statut du champ "Locked" dans l'entité topic pour l'affichage du bouton #} 
        <button type="submit">
            {{ topics.locked ? 'Déverrouiller' : 'Verrouiller' }} 
        </button>
    </form> <br>
    {% endfor %}

    Ajouter un topic :

    {{ form(formTopic)}}
{% endblock %}