{% extends 'base.html.twig' %}

    {% block title %}Liste des users{% endblock %}

        {% block body %}

            {% if is_granted('ROLE_ADMIN') %}  
                    <!-- Formulaire de recherche -->
                    {{ form_start(form) }}
                        {{ form_row(form.pseudo) }}
                        {{ form_row(form.Valider) }}
                    {{ form_end(form) }}
                    <button> <a href="{{ path('app_admin')}}"> Réinitialiser </a> </button>
                            
                {% for user in users %}

                    {# On affiche seulement les pseudos des personnes ayant le rôle 'ROLE_USER' #}
                    {% if 'ROLE_ADMIN' not in user.roles %}
                        <li><a href="{{ path('show_user', {'id':user.id})}}"> {{ user }} 
                            Date d'inscription :{{ user.registerDateFr }}
                        </a> <br></li>
                
                        {% if user.ban == false %}
                                    <a href="{{ path('ban_admin', {'id': user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir bannir cet utilisateur ?');">Bannir</a>
                                {% else %}
                                    <a href="{{ path('unban_admin', {'id': user.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir débannir cet utilisateur ?');">Débannir</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                
            {% endif %}
            
        {% endblock %}

