{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div id="wrapper-messagerie">
        <h1>Messagerie</h1>
        <p class="title-messagerie">Boite de réception: </p>
        
        <table>
            <tbody>
                {% for correspondent in correspondents %}
                    <tr>
                        <td>
                            <div class="correspondent">
                                {% if correspondent.avatar %}
                                    <img src="{{ asset(correspondent.avatar) }}" alt="avatar de {{ correspondent }}" class="correspondent-avatar">
                                {% else %}
                                    <img src="{{ asset('images/blank-profile-picture-973460_1280.png') }}" alt="avatar de {{ correspondent.pseudo }}" class="correspondent-avatar">
                                {% endif %}
                                <a href="{{ path('show_message', {id: correspondent.id}) }}">
                                    {{ correspondent.pseudo }}
                                </a>

                                {# <div class="last-message">
                                    {{ lastMessage }}
                                </div>  
                                #}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
