{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
<h1> Conversation avec {{ receiver.pseudo}} </h1>
    <a href="{{path("app_message")}}">Retour à la messagerie -></a>
    {% if messages is not empty %}
        <ul>
            {% for message in messages %}
                <strong> {{ message.sender.pseudo}} </strong>
                    {{ message.messageContent }} 
                    {{message.date}} <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun message.</p>
    {% endif %}

    {% if app.user.ban %}
        Vous ne pouvez pas envoyer de message.
    {% else %}
        {{ form_start(formMessage) }}
        {{ form_row(formMessage.messageContent) }}
        {{ form_row(formMessage.Envoyer) }}
        {{ form_end(formMessage) }}
    {% endif %}
    
{% endblock %}


