<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/tarteaucitronjs@1.9.3/tarteaucitron.js"></script>
        <script>
            tarteaucitron.init({
                "privacyUrl": "", // URL of your privacy policy
                "hashtag": "#tarteaucitron", // Open the panel with this hashtag
                "cookieName": "tarteaucitron", // Cookie name
                "orientation": "bottom", // Banner position (top - bottom - middle - popup)
                "groupServices": false, // Group services by category
                "showAlertSmall": false, // Show the small banner on bottom right
                "cookieslist": false, // Show the cookie list
                "showIcon": true, // Show cookie icon to manage cookies
                "iconPosition": "BottomLeft", // Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft
                "adblocker": false, // Show a Warning if an adblocker is detected
                "DenyAllCta": true, // Show the deny all button
                "AcceptAllCta": true, // Show the accept all button
                "highPrivacy": true, // HIGHLY RECOMMENDED Disable auto consent
                "handleBrowserDNTRequest": false, // If Do Not Track == 1, disallow all
                "removeCredit": false, // Remove credit link
                "moreInfoLink": true, // Show more info link
                "useExternalCss": false, // If false, the tarteaucitron.css file will be loaded
                "useExternalJs": false, // If false, the tarteaucitron.js file will be loaded
                "readmoreLink": "", // Change the default readmore link pointing to tarteaucitron.io
                "mandatory": true // Show a message about mandatory cookies
            });
        </script>
        <script type="text/javascript">
    
                tarteaucitron.user.recaptchaapi = 'XXXXX';
                (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');        
        </script>

        <meta charset="UTF-8">
        <meta name="description" content="Bienvenue sur Pawtners, le site de rencontre pour chats !">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Bienvenue sur pawtners !{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/css/icons.min.css">


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="wrapper-base">
            <header>


                <div class="nav-base">
                    <nav>
                        <ul>
                            <li class="logo">
                                <a href="{{ path('app_cat')}}">
                                    <img src="{{ asset('images/pawtners.png') }}" alt="Logo de Pawtners">
                                </a>
                            </li>
                            <li><a href="{{ path('app_cat')}}">Les chats</a></li>
                            <li><a href="{{ path('app_home')}}">Accueil</a></li>

                            {% if app.user is not null %}

                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('app_admin')}}">Dashboard Admin</a></li>
                            {% endif %}
                            
                                <li><a href="{{ path('app_message')}}">Messagerie</a></li>
                                <li><a href="{{ path('app_category')}}">Forum</a></li>
                                <li><a href="{{ path('show_user', {'id': app.user.id}) }}">Mon profil</a></li>
                                <li><a href="{{ path('app_logout')}}">Se déconnecter</a></li>

                               
                            {% else %}
                                <li><a href="{{ path('app_login')}}">Se connecter</a></li>
                                <li><a href="{{ path('app_register')}}">S'inscrire</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

               
            </header>

            <main>
                {% for message in app.flashes("message") %}
                    <div class="message-main">
                        {{ message }}
                    </div>
                {% endfor %}
        
            </main>
    
            
            {% block body %}

         
            {% endblock %}
        </div>

        <footer>
            <div class="footer">
                <nav>
                    <ul>
                        <li><a href="">Conditions d'utilisations</a></li>
                        <li><a href="">À propos</a></li>
                        <li><a href="">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="{{ asset('js/script.js')}}"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% endblock %}
    </body>
</html>
