{% extends 'base.html.twig' %}

{% block title %}{{ topic }}{% endblock %}

{% block body %}
<div id="wrapper-post">

    <h1> {{topic}} </h1>
    <div class="posts">
        {% for post in posts %} 

            <div class="post">
                {% if post.user %}
                    {% if post.user.avatar %}
                        <img src="{{ asset(post.user.avatar) }}" class="topic-avatar" >
                    {% endif %}
                {% endif %}

                    {% if post.user %}
                <strong>
                    <a href="{{ path('show_user', {id: post.user.id}) }}">
                        {{ post.user}} : 
                    </a>
                </strong>
                    
                {% else %}
                <span class="user-delete">
                    Utilisateur supprimé : 
                </span>
            {% endif %} 

            <p>{{ post }}</p>

            <span class= "date-post">
                le {{ post.datePost }} à {{ post.hourPost}}
            </span>

                {% if app.user == post.user or is_granted('ROLE_ADMIN')  %}
                    <form method="post" action="{{ path('delete_post', {id: post.id}) }}";
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn-delete-post" type="submit"> <i class="fa-solid fa-trash"></i> </button>
                    </form>  
                {% endif %}
            </div>

            {% else %}
                Aucun post pour le moment
        {% endfor %}
    </div>
    
    <div class="form-post">
        {% if topic.locked == true %}
            Ce topic est verrouillé
        {% elseif app.user.ban %}
            Vous ne pouvez pas ajouter de posts.
        {% else %}
            <h3>Ajouter un post</h3>
        {{ form_start(formPost) }}
        {{ form_row(formPost.postContent) }}
        <div class="submit-post">
            {{ form_row(formPost.Valider) }}
        </div>

        {{ form_end(formPost) }}
    {% endif %}

    </div>
    

</div>

{% endblock %}