{% extends 'base.html.twig' %}

{% block title %}{{ topic }}{% endblock %}

{% block body %}
<div id="wrapper-post">

    <h1> {{topic}} </h1>
    {% for post in posts %} <br>
        {% if post.user %}
            {% if post.user.avatar %}
            {{ post.user.avatar}}
            {% endif %}

        {% endif %}
        
        {{ post }} par 
        
        {% if post.user %}
            {{ post.user}}
        {% else %}
            Utilisateur supprimé
        {% endif %} 
            le {{ post.datePost }} à {{ post.hourPost}} <br>

            {% if app.user == post.user or is_granted('ROLE_ADMIN')  %}
                <form method="post" action="{{ path('delete_post', {id: post.id}) }}";
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Supprimer</button>
                </form>  
            {% endif %}
         <br>
    {% endfor %}
    
    {% if topic.locked == true %}
    Ce topic est verrouillé
    {% elseif app.user.ban %}
        Vous ne pouvez pas ajouter de posts.
    {% else %}
        Ajouter un post :
        {{ form(formPost) }}
    {% endif %}


</div>
 
   
{% endblock %}