{% extends 'base.html.twig' %}

{% block title %} Mes matchs {% endblock %}

{% block body %}

    <h1> Mes matchs : </h1>
        {% for match in userMatches %}
            {{ match.catOne }} et {{ match.catTwo }} le 
            {{ match.matchDate }}

            {% if app.user.ban %}
                Vous ne pouvez pas envoyer de messages.
            {% else %}
                {% if match.catOne.user == app.user %}
                    <a href="{{ path('show_messsage', {'id': match.catTwo.user.id}) }}">Envoyer un message</a>
                    {% else %}
                    <a href="{{ path('show_message', {'id': match.catOne.user.id}) }}">Envoyer un message</a>
                {% endif %}
            {% endif %}
            
           
        {% endfor %}

{% endblock %}
