{% extends 'base.html.twig' %}

{% block title %} Mes matchs {% endblock %}

{% block body %}
<div id="wrapper-match">
    <div class="match-title">
        <h1> Mes matchs : </h1>
    </div>
   
    <div class="cat-matchs">
        {% for match in userMatches %}
            <div class="cat-match">

                <p>{{ match.catOne }} et {{ match.catTwo }} </p>
                
                <span>le {{ match.matchDate }}</span>
    
                <form method="post" action="{{ path('delete_matche', {id: match.id}) }}";
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">  <i class="fa-solid fa-trash"></i> </button>
                </form>   
            </div>

                {% if app.user.ban %}
                    Vous ne pouvez pas envoyer de messages.
                {% else %}
                {% if match.catOne.user == app.user %}
                        <a href="{{ path('show_message', {'id': match.catTwo.user.id}) }}">
                            <div class="send-message">
                                Envoyer un message <i class="fa-solid fa-envelope"></i>
                            </div>
                        </a>
                        {% else %}
                        <a href="{{ path('show_message', {'id': match.catOne.user.id}) }}">
                            <div class="send-message">
                                Envoyer un message <i class="fa-solid fa-envelope"></i>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
    
            
        {% endfor %}

    </div>
        
</div>

    
{% endblock %}
