{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- On charge le CSS de Select2 à l'aide d'une librairie CDN-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div id="wrapper-home">
    {# Formulaire multiFiltre #}
    <div class="header-home">
        <div class="filter-cat-form">
            <h3 id="filter-title"> <i class="ph ph-funnel"></i> Filtrer</h3>
            <div class="filter-cat" id="filter-cat">

                {{ form_start(filterForm) }}


                {{ form_row(filterForm.breeds) }}

                {{ form_row(filterForm.ageMin) }}

                {{ form_row(filterForm.ageMax) }}

                {{ form_row(filterForm.gender) }}


                {{ form_row(filterForm.coats) }}


                {{ form_row(filterForm.city) }}

                <button type="submit">Filtrer</button>
                <button>
                    <a href="{{ path('app_cat')}}"> Réinitialiser </a>
                </button>

                {{ form_end(filterForm) }}

            </div>
        </div>
        {# Formulaire multiFiltre #}


        {# Barre de recherche #}
        <div class="search-cat">
            
                {{ form_start(homeForm) }}
                <div class="home-name">
                    {{ form_row(homeForm.name) }}
                </div>
                <div class="search-buttons">
                {{ form_row(homeForm.Valider) }}
                <button> <a href="{{ path('app_cat')}}"> Réinitialiser </a> </button>
            </div>
            {{ form_end(homeForm) }}

        </div>
        {# Barre de recherche #}

        {# Bouton ajout d'un chat #}
        <div class="btn-add-cat">
            <a href="{{ path('new_cat')}}"> Ajouter un chat</a>
        </div>
        {# Bouton ajout d'un chat #}
    </div>


    <h1> Profils des chats </h1>


    <div class="cats-cards">
        {% for cat in cats %}
        <div class="cat-card">
            {# First = filtre qui permet de récupèrer le premier élément d'un tableau #}
            {% set firstImage = cat.images|first %}
            <a href="{{ path('show_cat', {'id' : cat.id} )}}">
                <img src="{{ asset(firstImage) }}" alt="{{ firstImage.imageAlt }}">
            </a>
            <div class="cat-card-text">
                <p> Nom : {{ cat.name }} </p>
                <p> Ville: {{ cat.city }} </p>
            </div>
            <div class="btn-detail">
                <a href="{{ path('show_cat', {'id' : cat.id} )}}"> Détails + </a>
            </div>
        </div>

        {% else %}
        <p> Aucun chats trouvés</p>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(cats) }}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Permet d'inclure et de charger la librairie JQuery depuis un CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Permet d'inclure et de charger la librairie Select2 depuis un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Notre fichier JS qui contient le script-->
    <script src="{{ asset('js/select2.js') }}"></script>
{% endblock %}