{% extends 'base.html.twig' %}

{% block title %} Détail de {{ cat }} {% endblock %}

{% block body %}
    <h1> Détail de {{ cat }} </h1>
    {% for image in cat.images %}
        <li>
            <img src="{{ asset(image) }}" alt="{{ image.imageAlt }}">
        </li>
    {% endfor %}
            Nom : {{ cat.name }} <br>
            Robe : {{ cat.coat }} <br>
            Age: {{ cat.age }} <br>
            Description: {{ cat.description }} <br> 
            Proprétaire : {{ cat.user }} <br>
            {% for breed in cat.breeds %}
                Race(s) : {{ breed.breedName }} <br>
            {% endfor %}
            
</div>
{% endblock %}