{% extends 'base.html.twig' %}

{% block title %} Détail de {{ cat }} {% endblock %}

{% block body %}
    <div id="wrapper-cat">

        <h1> Détail de {{ cat }} </h1>


            <div class="cat-images">


                <aside>
                    <p>Propriétaire : <a href="{{ path('show_user', {'id':cat.user.id})}}"> {{ cat.user }} </a> </p> 
                    {% if app.user == cat.user or is_granted('ROLE_ADMIN')  %}
                        <form method="post" action="{{ path('delete_cat', {id: cat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce chat ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Supprimer</button>
                        </form>   
                    {% endif %}   
                </aside>

    
                {# On récupère la première image uploadé pour la mettre dans une div à part #}
                <div class="main-cat-img">
                    {% if app.user %} {# Si l'utilisateur est connecté #}

                        {% if app.user.ban %} {# Si l'utilisateur conneté est ban -> restriction #}
                            Vous ne pouvez pas liker ce chat.

                            {% elseif app.user != cat.user %} {# Ce bouton n'apparait pas si l'utilisateur connecté est le propriétaire de ce chat #}
                                {{ form_start(form, {'method': 'POST', 'action': path('show_cat', {'id': cat.id})}) }} {# On utilise notre méthode show_cat pour liker le chat #}
                                <div id="form-like">
                                    {{ form_row(form.catTwo) }}  
                                        <button class="form-catTwo" type="submit">
                                            Liker ce chat 
                                        </button>
                                </div>
                                    {{ form_end(form) }}
                                    

                                <div class="btn-like" >
                                            {% if userLike %}
                                                <a href="{{ path('delete_like', {'id': userLike.id}) }}" 
                                                    <i class="fa-solid fa-heart"></i>
                                            </a>

                                                {% else %}
                                                <i class="fa-regular fa-heart"  id ="btn-heart"> </i> 
                                            {% endif %}    
                                </div>
                        {% endif %}
                    {% endif %}

                    <img src="{{ asset(cat.images[0].getImageLink()) }}" alt="{{ cat.images[0].getImageAlt() }}">
                </div>

       
            
                {# On affiche les images restantes #}
                <div class="small-cat-images">
                    {% for image in cat.images[1:] %}
                        <div class="cat-img">
                            <img src="{{ asset(image.getImageLink()) }}" alt="{{ image.getImageAlt() }}">
                        </div>
                    {% endfor %}
                </div>
                   
            </div>

        <div class="cat-text">
            <div class="row-text">
                <p> <span> Âge : </span> {{ cat.ageFormatted }} </p>
                <p> <span> Ville : </span> {{ cat.city }} </p>
                <p> <span> Description : </span> {{ cat.description }} </p>
               
            </div>
            <div class="row-text">
                <p> <span> Sexe : </span>{{ cat.gender }} </p> 
                <p> <span> Portée(s) : </span> {{ cat.litterStatut }} </p>
                <p> <span> Vacciné : </span>{{ cat.vaccinatedStatut }} </p>
                <p> <span> Race(s) : </span>

                    {% for breed in cat.breeds %}
                        <li> {{ breed.breedName }} </li>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
            

{% endblock %}