{% extends 'base.html.twig' %}

{% block title %} Détail de {{ cat }} {% endblock %}

{% block body %}
    <h1> Détail de {{ cat }} </h1>
    
    {% for image in cat.images %}
        <li>
            <img src="{{ asset(image) }}" alt="{{ image.imageAlt }}">
        </li>
    {% endfor %}
            Nom : {{ cat.name }} <br>
            Robe : {{ cat.coat }} <br>
            Age: {{ cat.age }} <br>
            Description: {{ cat.description }} <br> 
            Propriétaire : <a href="{{ path('show_user', {'id':cat.user.id})}}"> {{ cat.user }} </a> <br>
            Portées : {{ cat.litter }} <br>
            Race(s) : 

            {% for breed in cat.breeds %}
                {{ breed.breedName }} <br>
            {% endfor %}
            
</div>
{% endblock %}