{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div id="wrapper-user">

        {%  if app.user == user %}
            <h1 >Votre profil </h1>
        {% else %}
            <h1> Profil de {{user}}</h1>
        {% endif %}


        {% if user.avatar %} {# Si le user a un avatar ALORS on l'affiche sinon bug #}
            <img src="{{ asset(user.avatar) }}" class="user-avatar" >
        {% endif %}
    
        
        <h2> @{{ user }}</h2>

        {% if app.user == user %}

        <div class="btn-user-match">
            <a href="{{ path('app_like')}}">Mes likes</a>
            <a href="{{ path('app_matche')}}">Mes match</a>
        </div>
        {% endif %}

        {% if app.user == user %}
            <h3>   Mes chats  </h3> 
            {% else %}
            <h3> Les chats de {{user}} </h3>
        {% endif %}

        <div id="cats-user" class="cats-user">
            {% for cat in user.cats %}
                
                    <div class="cat-user">

                        {# First = filtre qui permet de récupèrer le premier élément d'un tableau #}
                        {% set firstImage = cat.images|first %}
                            <img src="{{ asset(firstImage) }}" alt="{{ firstImage.imageAlt }}">
                            <a href="{{path("show_cat", {id:cat.id}) }}"> {{cat}} </a>
                            <i class="fa-solid fa-paw"></i>

                    </div>
                
            {% endfor %}
        </div>

            <h3> Avis </h3>

            <div class="reviews">
                {% if reviews %}
                    {% for review in reviews %}
                        <div class="review">

                            <div class="row-review">
                                {% if review.reviewer %}
                                <a href="{{ path('show_user', {'id': review.reviewer.id}) }}"> <span>{{ review.reviewer }}</span></a>
                                {% else %}
                                    <span >Utilisateur supprimé</span>
                                {% endif %} 
                            <span> {{ review.reviewRating }}/5 </span>
                            </div>

                            <p>{{ review.reviewContent }}</p>
                            {% if app.user == review.reviewer or is_granted('ROLE_ADMIN') %}
                                <a class="btn-delete-review" href="{{ path('delete_review', {'id': review.id}) }}">Supprimer</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucun avis pour le moment.</p>
                {% endif %}
            </div>
            
            
            {% if app.user.ban %}
                Vous ne pouvez pas ajouter d'avis
            {% else %}
            {% if canPostReview %}
                <h2>Dites à {{user}} ce que vous en avez pensé !</h2>

                <div class="form-review">
                    <h3>Poster un avis</h3>
                    {{ form_start(formReview) }}
                        {{ form_widget(formReview) }}
                        <button type="submit">Envoyer</button>
                    {{ form_end(formReview) }}
                </div>

            {% endif %}
            {% endif %}


            {%  if app.user == user %}

                <h3> Avis postés  </h3>

                   <div class="reviews">

                    {% if reviewsUser %}
                        {% for reviewUser in reviewsUser %}

                        <div class="review">

                            <div class="row-review">
                                {% if reviewUser.reviewee %}

                                <a href="{{ path('show_user', {'id': reviewUser.reviewee.id}) }}"> <span>{{ reviewUser.reviewee }}</span></a>
                                   

                                   
                                {% else %}
                                    <span >Utilisateur supprimé</span>
                                {% endif %} 

                                <span> {{ reviewUser.reviewRating }} /5 </span>
                            </div>
                        
                            <p>{{ reviewUser.reviewContent }}</p>

                            <a class ="btn-delete-review"="{{ path('delete_review', {'id': reviewUser.id}) }}">Supprimer</a>
                        </div>
                           
                        {% endfor %}

                        {% else %}

                        <p> Aucun avis pour le moment.</p>
                    {% endif %}
                 
                   </div>


                    <button class="change-info"> 
                        <a href="{{ path('update_user') }}">Changer mes informations</a> 
                    </button>
  
            {% endif %}
        </div>

{% endblock %}
