{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h2> Mes informations: </h2>
    Mon pseudo : {{user.pseudo}} <br>
    Mon email : {{user.email}} <br>
    Date d'inscription : {{user.registerDateFr}} <br>

    <h2> Modifier mon Pseudo: </h2>
    {{ form_start(formPseudo) }}
    {{ form_widget(formPseudo) }}
    <button type="submit">Mettre à jour</button>
    {{ form_end(formPseudo) }} 
                
    <h2> Modifier mon Mot de passe: </h2>
    {{ form_start(formPassword) }}
    {{ form_widget(formPassword) }}
    <button type="submit">Mettre à jour</button>
    {{ form_end(formPassword) }}
                
{% endblock %}