<p>Bonjour {{ user }} !</p>
<p> Félicitations ! {{catOne}} a matché avec {{catTwo}} ! 
    Connectez vous dès maintenant pour discuter avec le propriétaire de l'heureux élu !
    <p><a href="{{ loginUrl|raw }}">{{ loginUrl|raw }}</a></p>

</p>

<p>Pawtners</p>